@import "../Config";

:host {
    display: block;
    position: relative;
    margin-top: $spacer * 4;

    .row {
        margin-bottom: $spacer;
    }

    .buttons {
        margin-bottom: $spacer * 4;
        .btn {
            margin-right: 1rem;
            margin-bottom: 1rem;
        }
        &-left {
            text-align: left;
        }
        &-center {
            text-align: center;
        }
        &-right {
            text-align: right;
        }
    }

    .force-scrolling {
        height: 100vh;
    }
}
