@import "../Config";

:host {
    display: block;
    position: relative;
    margin-top: $spacer * 4;

    .row {
        margin-bottom: $spacer;
    }

    .buttons {
        margin-bottom: $spacer * 4;
    }
}
